@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;

.video-list {
  @include flex-column-gap($gap-small);

  @include tablet {
    gap: 1.6875rem;
    max-width: 50%;
  }

  @include desktop {
    max-width: 100%;
    gap: 1.9rem;
  }

  &__link {
    text-decoration: none;
  }
}
