@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-card {
  display: flex;
  gap: $gap-small;
  height: 3.75rem;

  @include tablet {
    gap: $gap-medium;
  }

  &__image-container {
    flex-basis: 6.5rem;
    @include flex-box($direction: row, $justify: center, $align: center);

    @include tablet {
      flex-basis: 10.5rem;
    }
  }

  &__body {
    @include flex-column;
    flex-basis: 100%;
    // gap: $gap-small;
    justify-content: space-between;
    // padding-bottom: $gap-x-small;
  }

  &__image {
    max-width: 6.75rem;
    border-radius: $border-radius;
    object-fit: cover;
    aspect-ratio: 16/9;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    color: $primary-dark;
  }
}
