@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.button {
  height: 2.5rem;
  width: 100%;
  border-radius: 4px;
  background-color: $primary-color;
  color: $primary-light;
  border: none;
  display: flex;
  align-items: center;
  gap: 1rem;

  &:hover {
    background-color: $secondary-color;
  }
  @include tablet {
    min-width: 9.375rem;
    max-width: 12.5rem;
  }

  &__icon {
    flex-basis: 1.25rem;
    padding-left: 0.75rem;
    height: 1.25rem;
  }
  &__body {
    flex-basis: calc(100% - 4.5rem);
    font-weight: 500;
  }
}
