@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.button {
  @include flex-box($direction: row, $justify: center, $align: center);
  position: relative;
  height: 2.5rem;
  width: 100%;
  gap: $gap-small;
  border: none;
  border-radius: $border-radius;
  // background-color: $primary-color;

  &:hover {
    background-color: $secondary-color;
  }

  @include tablet {
    min-width: 9.375rem;
    max-width: 12.5rem;
  }

  &__icon {
    position: absolute;
    flex-basis: 1.25rem;
    height: 1.25rem;
    left: 0.625rem;
  }

  &__body {
    flex-basis: calc(100% - 4.5rem);
    font-weight: 600;
  }
  &--primary {
    background-color: $primary-color;
    color: $primary-light;
  }

  &--secondary {
    background-color: $primary-light;
    color: $primary-color;
  }
}
