@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.button {
  height: 2.5rem;
  width: 100%;
  border-radius: 4px;
  background-color: $primary-color;
  color: $primary-light;
  border: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  @include tablet {
    min-width: 9.375rem;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 12.5rem;
  }

  &__icon {
    flex-basis: 1rem;
    padding-left: 0.5rem;
  }
  &__body {
    flex-basis: 100%;
    text-align: center;
  }
}
