@use "variables" as *;
@use "typography" as *;
@use "mixins" as *;

* {
  padding: 0;
  margin: 0;
  font-family: $font-family-avenir-next;
}

h1 {
  @include headingPadding;
  @include font-properties(
    $weight: 700,
    $spacing: null,
    $line-height: 2rem,
    $size: $gap-medium
  );
}

h2 {
  @include headingPadding;
  @include font-properties(
    $weight: 700,
    $spacing: null,
    $line-height: 1.25rem,
    $size: 0.75rem
  );
}

h3 {
  @include headingPadding;
  @include font-properties(
    $weight: 700,
    $spacing: null,
    $line-height: 1.125rem,
    $size: 0.8125rem
  );
}

body {
  @include font-properties(
    $weight: 400,
    $spacing: null,
    $line-height: 1.125rem,
    $size: 0.8125rem
  );
}

.label-text {
  @include font-properties(
    $weight: 500,
    $spacing: 0.0313rem,
    $line-height: 1.25rem,
    $size: 0.725rem
  );
}

@media (min-width: $tablet-breakpoint) {
  h1 {
    @include headingPadding;
    @include font-properties(
      $weight: 700,
      $spacing: null,
      $line-height: 2.75rem,
      $size: 2.0625rem
    );
  }

  h2 {
    @include headingPadding;
    @include font-properties(
      $weight: 700,
      $spacing: null,
      $line-height: 1.25rem,
      $size: 0.875rem
    );
  }

  h3 {
    @include headingPadding;
    @include font-properties(
      $weight: 700,
      $spacing: null,
      $line-height: 1.375rem,
      $size: 0.875rem
    );
  }

  body {
    @include font-properties(
      $weight: 400,
      $spacing: null,
      $line-height: 1.25rem,
      $size: 0.875rem
    );
  }

  .label-text {
    @include font-properties(
      $weight: 600,
      $spacing: null,
      $line-height: 1.25rem,
      $size: 0.75rem
    );
  }
}

.section-wrapper {
  margin: $gap-small;

  @include tablet {
    margin: $gap-small $gap-large;
  }

  @include desktop {
    margin: $gap-small 0;
  }
}

.input-border {
  min-height: 2.25rem;
  max-width: 100%;
  border-radius: $border-radius;
  padding: 0 $gap-small;
  border: 1px solid $secondary-gray;

  @include tablet {
    height: $gap-large;
  }
}
