@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex-box($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-properties(
  $weight: 400,
  $spacing: null,
  $line-height: 1.3rem,
  $size: null
) {
  font-weight: $weight;
  line-height: $line-height;

  @if $spacing !=null {
    letter-spacing: $spacing;
  }

  @if $size !=null {
    font-size: $size;
  }
}

@mixin headingPadding {
  margin-top: $gap-medium;
  margin-bottom: $gap-small;

  @include tablet {
    margin-top: 2.25rem;
    margin-bottom: $gap-small;
  }
}

@mixin border-position($position) {
  border-#{$position}: $border-default;
}

@mixin section-max-width {
  max-width: 65.25rem;
  margin: 0 auto;
}

@mixin desktop-border-padding-right {
  @include desktop {
    padding-right: $gap-medium;
  }
}

@mixin flex-column-gap($gap: null) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin input-styles {
  background-color: $secondary-light;

  &::placeholder {
    color: $primary-dark;
  }
}

@mixin max-character-width {
  max-width: 80ch;
}
