@use "variables" as *;
@use "mixins" as *;

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"),
    url("../../assets/fonts/Alternative\ files/AvenirNextLTPro-Bold.ttf")
      format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"),
    url("../../assets/fonts/Alternative\ files/AvenirNextLTProDemi.ttf")
      format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"),
    url("../../assets/fonts/Alternative\ files/AvenirNextLTPro.ttf")
      format("truetype");
  font-weight: 400;
}
