@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.video-content {
  &__body {
    @include desktop {
      flex-basis: 92%;
      border-right: $border-default;
    }
  }

  @include section-max-width;

  @include desktop {
    @include section-max-width;
    display: flex;
    gap: $gap-medium;
  }
}

.recommend {
  @include desktop {
    flex-basis: 40%;
  }

  &__title {
    color: $primary-gray;
    margin: $gap-small 0;

    @include tablet {
      margin: $gap-medium 0;
    }

    @include desktop {
      margin: $gap-small 0;
    }
  }

  &__loading {
    @include flex-column-gap($gap-small);
  }
}
