@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment {
  display: flex;
  gap: $gap-small;
  padding: 1rem 0;
  @include border-position($position: bottom);

  @include tablet {
    padding: 2.25rem 0;
    gap: $gap-medium;
    width: 100%;
  }

  @include desktop {
    padding: $gap-medium 0;
    gap: 2.25rem;
    padding-left: $gap-small;
    box-sizing: border-box;

    &:last-child {
      border-bottom: none;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: $gap-x-small;
  }

  &__author {
    font-weight: 600;
    color: $primary-dark;
  }

  &__date {
    color: $primary-gray;
  }

  &__details {
    @include tablet {
      flex-basis: 100%;
    }

    @include desktop-border-padding-right;
  }
  &__copy {
    @include max-character-width;
  }
  &__metadata {
    display: flex;
    gap: $gap-small;
  }

  &__delete {
    height: 1rem;
  }
}
