@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment {
  display: flex;
  gap: $gap-small;
  padding: 1rem 0;
  @include border-position($position: bottom);

  @include tablet {
    padding: 2.25rem 0;
    gap: $gap-medium;
  }

  @include desktop {
    @include desktop-border-padding-right;
    padding: $gap-medium 0;
    gap: 2.25rem;

    &:last-child {
      border-bottom: none;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: $gap-small;
  }

  &__author {
    font-weight: 600;
    color: $primary-dark;
  }

  &__date {
    color: $primary-gray;
  }
}
