@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.alert {
  padding: $gap-small;
  margin: 1.25rem auto;
  border: 1px solid transparent;
  border-radius: $border-radius;

  &--success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }

  @include desktop {
    @include section-max-width;
    margin: $gap-small auto;
    padding: $gap-small 0;
  }

  &__body {
    margin: auto $gap-small;
  }
}
