@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.alert {
  padding: $gap-small;
  margin-bottom: 1.25rem;
  border: 1px solid transparent;
  border-radius: $border-radius;

  &--success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }

  @include desktop {
    @include section-max-width;
    margin: $gap-small auto;
    padding: $gap-medium $gap-medium;
  }
}
