@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;

.comment-form {
  display: flex;
  gap: $gap-small;
  width: 100%;
  @include border-position($position: bottom);

  & > &__avatar {
    margin-top: $gap-medium;
  }

  @include tablet {
    gap: $gap-medium;
  }

  @include desktop {
    gap: 2.25rem;
    padding-left: $gap-small;
    box-sizing: border-box;
  }

  &__avatar {
    flex-basis: 2.25rem;

    @include tablet {
      flex-basis: 3rem;
    }
  }

  &__content {
    @include flex-column-gap($gap-small);
    flex-basis: 100%;
    margin-bottom: $gap-small;

    @include tablet {
      flex-direction: row;
    }

    @include desktop {
      @include desktop-border-padding-right;
      gap: $gap-medium;
    }
  }

  &__field {
    @include flex-column-gap(null);

    @include tablet {
      flex-basis: 90%;
    }
  }

  &__label {
    margin-bottom: 0.25rem;
    color: $primary-gray;
  }

  &__input {
    @extend .input-border;
    @include input-styles;
    padding-top: 0.75rem;
    padding-left: 0.75rem;
    display: flex;
    height: 6.2rem;
    box-sizing: border-box;

    &::placeholder {
      transform: translateY(-1.875rem);
      font-weight: 500;
    }
    &:focus {
      outline: $border-focus;
    }

    @include tablet {
      height: 2.5rem;
      padding-top: 0;
      padding-left: $gap-small;
      display: flex;
      align-items: center;

      &::placeholder {
        transform: translateY(0);
      }
    }
  }

  &__button {
    @include tablet {
      margin-top: $gap-medium;
    }
  }
}
