@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment-section {
  &__title {
    margin: $gap-medium 0;
    font-weight: 600;

    @include tablet {
      margin: 2.25rem 0;
    }

    @include desktop {
      margin: $gap-medium 0;
    }
  }
}
