@use "../../styles/partials/mixins" as *;

.comment-section {
  &__title {
    margin: 1.5rem 0;
    font-weight: 600;

    @include tablet {
      margin: 2.25rem 0;
    }

    @include desktop {
      margin: 1.5rem 0;
    }
  }
}
