@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.search {
  @extend .input-border;
  @include flex-box($direction: row, $justify: space-between, $align: center);
  flex-basis: 100%;
  gap: 0.5rem;
  color: $primary-dark;
  background-color: $secondary-light;
  box-sizing: border-box;

  &__icon {
    flex-basis: $gap-small;
    max-width: $gap-small;
  }

  &__input {
    border: none;
    flex-basis: 100%;
    color: $primary-dark;
    background-color: $secondary-light;

    &::placeholder {
      color: $primary-dark;
    }
  }
}
