@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.search {
  @extend .input-border;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  color: $primary-dark;
  background-color: $secondary-light;
  box-sizing: border-box;

  &__icon {
    flex-basis: 1rem;
    max-width: 1rem;
  }

  &__input {
    border: none;
    flex-basis: 100%;
    color: $primary-dark;
    background-color: $secondary-light;

    &::placeholder {
      color: $primary-dark;
    }
  }
}
