@use "../../styles/partials/globals" as *;

.search {
  @extend .input-border;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  &__icon {
    flex-basis: 1rem;
    max-width: 1rem;
  }
  &__input {
    border: none;
    flex-basis: 100%;
  }
}
