@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav {
  @include flex-column;
  padding: $gap-small 0;
  gap: $gap-small;
  align-items: center;
  margin-inline: $gap-small;

  @include tablet {
    @include flex-box($direction: row, $justify: space-between, $align: center);
    margin: 0 $gap-large;
  }

  @include desktop {
    @include section-max-width;
    margin: 0 auto;
    padding-left: $gap-small;
    padding-right: $gap-small;
  }

  &__header {
    @include border-position($position: bottom);
  }

  &__items {
    @include flex-column;
    gap: $gap-small;
    width: 100%;

    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      width: auto;
    }

    @include desktop {
      gap: $gap-medium;
    }
  }

  &__top {
    display: flex;
    gap: $gap-small;
  }

  &__bottom {
    display: flex;
    gap: $gap-small;

    @include desktop {
      gap: 2.25rem;
    }
  }

  &__avatar-top {
    flex-basis: 2.25rem;

    @include tablet {
      display: none;
    }
  }

  &__avatar-bottom {
    display: none;

    @include tablet {
      display: block;
    }
  }
}
