@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-player {
  &__container {
    display: flex;
    justify-content: center;
    background-color: $secondary-dark;

    &--loading {
      @include flex-box($direction: row, $justify: center, $align: center);
    }

    @include desktop {
      margin: 0 auto;
      height: 31.25rem;
    }
  }

  &__loading {
    color: $primary-light;
  }

  &__video {
    width: 100%;
    border-radius: 0;
    aspect-ratio: 16/9;

    @include tablet {
      margin-inline: $gap-large;
      max-width: 90%;
    }

    @include desktop {
      @include section-max-width;
      max-width: 55.625rem;
    }
  }
}
