@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;

.upload {
  &__form {
    @include desktop {
      @include section-max-width;
      margin: 0 auto;
      padding: 0 $gap-medium;
    }
  }

  &__title {
    @include section-max-width;
    margin: 2.25rem auto $gap-medium;
  }

  &__body {
    @include flex-column-gap(null);

    @include tablet {
      @include border-position($position: top);
      @include border-position($position: bottom);
    }
    @include desktop {
      @include section-max-width;
      flex-direction: row;
      gap: $gap-medium;
    }
  }

  &__thumbnail-section {
    > .upload__label {
      margin-top: $gap-medium;
    }

    @include desktop {
      flex-basis: 50%;
    }
  }

  &__image {
    max-width: 100%;
    aspect-ratio: 16 / 9;

    @include tablet {
      max-width: 50%;
    }

    @include desktop {
      max-width: 100%;
    }
  }

  &__label {
    margin-bottom: 0.25rem;
    margin-top: $gap-small;
    color: $primary-gray;
    @include desktop {
      margin-top: $gap-medium;
    }
  }

  &__form-section {
    @include flex-column-gap(null);
    margin-bottom: $gap-medium;
    @include desktop {
      flex-basis: 100%;
    }
  }

  &__input {
    @extend .input-border;
    @include input-styles;
    display: flex;
    box-sizing: border-box;

    &--textarea {
      @extend .input-border;
      @include input-styles;
      height: 6.44rem;

      &::placeholder {
        transform: translateY(0.75rem);
        font-weight: 500;

        @include tablet {
          transform: translateY($gap-small);
        }
      }
    }
  }

  &__footer {
    @include flex-column-gap($gap-small);

    @include tablet {
      flex-direction: row-reverse;
      margin-top: $gap-medium;
    }
  }
}
