@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Avenir Next", sans-serif;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 47.9375rem) {
  h1 {
    margin-top: 2.25rem;
    margin-bottom: 1.5rem;
  }
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  font-size: 0.75rem;
}
@media screen and (min-width: 47.9375rem) {
  h2 {
    margin-top: 2.25rem;
    margin-bottom: 1.5rem;
  }
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.125rem;
  font-size: 0.8125rem;
}
@media screen and (min-width: 47.9375rem) {
  h3 {
    margin-top: 2.25rem;
    margin-bottom: 1.5rem;
  }
}

body {
  font-weight: 400;
  line-height: 1.125rem;
  font-size: 0.8125rem;
}

.label-text {
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: 0.0313rem;
  font-size: 0.725rem;
}

@media (min-width: 47.9375rem) {
  h1 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 2.75rem;
    font-size: 2.0625rem;
  }
}
@media screen and (min-width: 47.9375rem) and (min-width: 47.9375rem) {
  h1 {
    margin-top: 2.25rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 47.9375rem) {
  h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 47.9375rem) and (min-width: 47.9375rem) {
  h2 {
    margin-top: 2.25rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 47.9375rem) {
  h3 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 47.9375rem) and (min-width: 47.9375rem) {
  h3 {
    margin-top: 2.25rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 47.9375rem) {
  body {
    font-weight: 400;
    line-height: 1.25rem;
    font-size: 0.875rem;
  }
  .label-text {
    font-weight: 700;
    line-height: 1.25rem;
    font-size: 0.75rem;
  }
}
.section-wrapper {
  margin: 1rem;
}
@media screen and (min-width: 47.9375rem) {
  .section-wrapper {
    margin: 1rem 2.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .section-wrapper {
    margin: 1rem 0;
  }
}

.input-border, .comment__input {
  min-height: 2.25rem;
  max-width: 100%;
  border-radius: 4px;
  padding: 0 1rem;
  border: 1px solid #e1e1e1;
}
@media screen and (min-width: 47.9375rem) {
  .input-border, .comment__input {
    height: 2.5rem;
  }
}

@media screen and (min-width: 80rem) {
  .video-content {
    max-width: 63.75rem;
    margin: 0 auto;
    display: flex;
    gap: 1.5rem;
  }
}

.video__player-container {
  background-color: #000000;
}
@media screen and (min-width: 80rem) {
  .video__player-container {
    margin: 0 auto;
    display: flex;
  }
}
.video__player {
  max-width: 100%;
  border-radius: 0;
  aspect-ratio: 16/9;
}
@media screen and (min-width: 47.9375rem) {
  .video__player {
    margin-inline: 2.5rem;
    max-width: 90%;
  }
}
@media screen and (min-width: 80rem) {
  .video__player {
    max-width: 63.75rem;
    margin: 0 auto;
    max-width: 60vw;
  }
}
.video__copy {
  padding: 1rem 0;
}
@media screen and (min-width: 80rem) {
  .video__copy {
    padding-right: 1.5rem;
  }
}
.video__metadata {
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  color: #afafaf;
}
@media screen and (min-width: 47.9375rem) {
  .video__metadata {
    border-top: none;
    padding-top: 0;
  }
}
.video__metadata--right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 80rem) {
  .video__metadata--right {
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 47.9375rem) {
  .video__metadata--right {
    flex-direction: row;
    width: auto;
  }
}
.video__metadata--left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 47.9375rem) {
  .video__metadata--left {
    flex-direction: row;
    width: auto;
    gap: 2.25rem;
  }
}
.video__author .video__info {
  color: #323232;
  font-weight: 600;
}
.video__views {
  display: flex;
  gap: 1rem;
}
.video__likes {
  display: flex;
  gap: 1rem;
}
@media screen and (min-width: 80rem) {
  .video__body {
    flex-basis: 79%;
    border-right: 1px solid #e1e1e1;
  }
}

@media screen and (min-width: 80rem) {
  .recommend {
    flex-basis: 40%;
  }
}
.recommend__title {
  color: #afafaf;
  margin: 1rem 0;
}
@media screen and (min-width: 47.9375rem) {
  .recommend__title {
    margin: 1.5rem 0;
  }
}
.recommend__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment__title {
  margin: 1.5rem 0;
  font-weight: 600;
}
.comment__form {
  display: flex;
  gap: 1rem;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}
.comment__form > .comment__avatar {
  margin-top: 1.4rem;
}
@media screen and (min-width: 47.9375rem) {
  .comment__form {
    gap: 1.5rem;
  }
}
.comment__avatar {
  flex-basis: 2.25rem;
}
@media screen and (min-width: 47.9375rem) {
  .comment__avatar {
    flex-basis: 3rem;
  }
}
.comment__input-container {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 47.9375rem) {
  .comment__input-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 80rem) and (min-width: 80rem) {
  .comment__input-container {
    padding-right: 1.5rem;
  }
}
.comment__input-body {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 47.9375rem) {
  .comment__input-body {
    flex-basis: 90%;
  }
}
.comment__label {
  margin-bottom: 0.25rem;
  color: #afafaf;
}
.comment__input {
  padding-top: 1rem;
  display: flex;
  height: 5rem;
}
.comment__input::-moz-placeholder {
  transform: translateY(-30px);
}
.comment__input::placeholder {
  transform: translateY(-30px);
}
@media screen and (min-width: 47.9375rem) {
  .comment__input {
    height: 2.5rem;
    padding-top: 0;
    display: flex;
    align-items: center;
  }
  .comment__input::-moz-placeholder {
    transform: translateY(0);
  }
  .comment__input::placeholder {
    transform: translateY(0);
  }
}
@media screen and (min-width: 47.9375rem) {
  .comment__button {
    margin-top: 1.4rem;
  }
}/*# sourceMappingURL=App.css.map */