@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-details {
  &__title {
    @include desktop-border-padding-right;
  }
  &__metadata {
    @include border-position($position: bottom);
    @include border-position($position: top);
    display: flex;
    justify-content: space-between;
    padding: $gap-x-small 0;
    color: $primary-gray;

    @include tablet {
      border-top: none;
      padding-top: 0;
    }

    &--right {
      @include desktop-border-padding-right;
      @include flex-column-gap($gap-small);
      width: 51%;

      @include tablet {
        flex-direction: row;
        width: auto;
      }
    }

    &--left {
      width: 60%;
      @include flex-column-gap($gap-small);

      @include tablet {
        flex-direction: row;
        width: auto;
        gap: 2.25rem;
      }
    }
  }

  &__info {
    color: $primary-gray;
  }

  &__author &__info {
    color: $primary-dark;
    font-weight: 600;
  }

  &__views {
    display: flex;
    gap: $gap-x-small;
  }

  &__likes {
    display: flex;
    gap: $gap-x-small;
  }

  &__body {
    @include desktop {
      flex-basis: 79%;
      border-right: $default-border;
    }
  }

  &__copy {
    @include max-character-width;
    margin: $gap-small 0;
    @include desktop-border-padding-right;

    @include tablet {
      margin: $gap-medium 0;
    }
  }
}
